<!DOCTYPE html>
<html ng-app="performanceTest">
  <head>
    <meta charset="utf-8">
    <title>Angular 1X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<script src="bootstrap.min.js" ></script>
    <script type="text/javascript" src="angular.min.js"></script>

    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div  ng-controller="sample">
      <div ng-if="colorData" ng-repeat="color in colorData">
          <div  ng-style="{'background-color':color.color, 'color': '#ffffff', 'text-align':'center', 'height':'auto'}">
            <h2>{{color.text}}</h2>
          </div><hr>
    </div>
    </div>
  </body>
</html>
